extends base.pug

block style	
	<!-- JQuery DataTable Css -->
	link(href="plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet")
	<!-- Bootstrap Select Css -->
	link(href="plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet")


block menu_active
	- var points = {control: true, refs: true, commands: true}

block content
	//- div.block-header
		//- h2 Команды/Агенты
			small Добавление/удаление/редактирование
	<!-- Basic Examples -->					
	div(class="row clearfix")
		div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
			div.card
				div.header
					h2 Команды
					ul(class="header-dropdown m-r--5")
						li.dropdown
							a(href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
								i.material-icons more_vert
							ul(class="dropdown-menu pull-right", id="control-commands")
								li
									a(href="javascript:void(0);" action="add") Добавить
								li
									a(href="javascript:void(0);" action="change") Изменить
								li
									a(href="javascript:void(0);" action="delete") Удалить

				div.body
					table(class="table table-bordered table-striped table-hover js-basic-example dataTable")
						thead
							tr
								th id
								th Наименование
								th Супервайзер
								th Основная цена
								th Ассортимент
								th VAN
						tbody.table-hover#tbody-commands
							//- tr
							//- 	td Основная
							//- 	td Федор
							//- 	td Розница
							//- 	td Основной
							//- 	td Нет
	<!-- #END# Basic Examples -->
	<!-- Example Tab -->
	div(class="row clearfix")
		div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
			div.card
				div.header
					h2 Дополнительные настройки
						small Выберите команду сверху
				div.body
					<!-- Nav tabs -->
					ul(class="nav nav-tabs tab-nav-right" role="tablist")
						li(role="presentation" class="active")
							a(href="#home" data-toggle="tab") Склады

						li(role="presentation")
							a(href="#profile" data-toggle="tab") Прайс-листы

						li(role="presentation")
							a(href="#tasks" data-toggle="tab") Задачи

					<!-- Tab panes -->
					div.tab-content
						div(role="tabpanel" class="tab-pane fade in active" id="home")
							ul.dashboard-stat-list
								li
									input(type="checkbox" id="md_checkbox_5" class="chk-col-indigo" checked)
									label(for="md_checkbox_5") Основной склад
						div(role="tabpanel" class="tab-pane fade" id="profile")
							ul.dashboard-stat-list
								li
									input(type="checkbox" id="md_checkbox_5" class="chk-col-indigo" checked)
									label(for="md_checkbox_5") Розничный
								li
									input(type="checkbox" id="md_checkbox_5" class="chk-col-indigo")
									label(for="md_checkbox_5") Оптовый

						div(role="tabpanel" class="tab-pane fade" id="tasks")
							table(id="mainTable" class="table table-striped")
								thead
									tr
										th Тип
										th Название
										th Обязательность
										th Порядок
								tbody
									tr
										td Gps-координата
										td Gps-координата
										td 200
										td 0
	<!-- #END# Example Tab -->

	div(class="modal fade" id="defaultModal" tabindex="-1" role="dialog")
		div(class="modal-dialog" role="document")
			div.modal-content
				div.modal-header
					h4.modal-title#defaultModalLabel Команда

				div.modal-body
					form
						div(class="form-group form-float")
							div.form-line
								input(type="text" class="form-control" name="name")
								label.form-label Наименование

						div(class="form-group form-float")
							div.form-line
								p
									b Супервайзер
								select(class="form-control show-tick " name="persons")

						div(class="form-group form-float")
							div.form-line
								p
									b Основная цена
								select(class="form-control show-tick" name="priceLists")

						div(class="form-group form-float")
							div.form-line
								p
									b Ассортимент
								select(class="form-control show-tick" name="assortiment")

						input(type="checkbox" id="van" class="filled-in")
						label(for="van") VAN

				div.modal-footer
					button(type="button" class="btn btn-link waves-effect") Сохранить
					button(type="button" class="btn btn-link waves-effect" data-dismiss="modal") Закрыть

block scripts
	<!-- Bootstrap notifyotify Plugin Js -->
	script(src="plugins/bootstrap-notify/bootstrap-notify.js")

	<!-- Select Plugin Js -->
	script(src="plugins/bootstrap-select/js/bootstrap-select.js")

	<!-- Jquery DataTable Plugin Js -->
	script(src="plugins/jquery-datatable/jquery.dataTables.js")
	script(src="plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")
	script(src="plugins/jquery-datatable.js")
	script(src="js/ref-commands.js")

	script.
		$(function () {
			app.assortimentCollection = new app.AssortimentCollection([
				{"_id": 1, "name": "Основной ассортимент"},
				{"_id": 2, "name": "Акционный"}
			]);

			app.priceListCollection = new app.PriceListCollection([
				{"_id": 1, "name": "Основная"},
				{"_id": 2, "name": "Розниная"}
			]);

			app.personCollection = new app.PersonCollection([
				{"_id": 1, "name": "Физ лицо1"},
				{"_id": 2, "name": "Физ лицо2"}
			]);

			app.commandCollection = new app.CommandCollection([
				{
					"_id": 1,
					"name": "Основная",
					"supervisor_id": 1,
					"pricelist_id": 1,
					"assortiment_id": 1,
					"van": true
				},
				{
					"_id": 2,
					"name": "Дополнительная",
					"supervisor_id": 2,
					"pricelist_id": 2,
					"assortiment_id": 2,
					"van": false
				}
			]);

			app.router = new app.Router();

			app.commandCollectionView = new app.CommandCollectionView({
				collection: app.commandCollection,
				collectionPersons: app.personCollection,
				collectionPriceLists: app.priceListCollection,
				assortimentCollection: app.assortimentCollection,
				router: app.router
			});

			app.commandModalView = new app.CommandModalView({
				collectionPersons: app.personCollection,
				collectionPriceLists: app.priceListCollection,
				assortimentCollection: app.assortimentCollection
			})

			new app.CommandControlView({
				collection: app.commandCollection,
				modal: app.commandModalView
			});

			Backbone.history.start();

		});